$tablet: 768px;

// mixins
// Better transition mixin
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


.copy{
  width: 100%;
  max-width: 392px;
  // border: 1px solid red;

  display: flex;

  p {
    &:last-of-type {
      margin-left: auto;
    }
  }
}


// Custom tooltip styles

.custom-tooltip {
  background: rgba(0, 0, 0, 0) url(../assets/images/tooltip-icon-grey.svg) no-repeat scroll center 15% / 60% auto;
  cursor: help;
  height: auto;
  width: 30px;
  position: relative;
  top: 0;

  @media(max-width: $tablet) {

  }

  @include transition(all 0.35s ease);


  &:hover {
    background: rgba(0, 0, 0, 0) url(../assets/images/tooltip-icon-red.svg) no-repeat scroll center 15% / 60% auto;
  }

}

.tooltip-box {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 2px 6px 1px #cccccc;
  display: none;
  font-size: 13px;
  left: -246px;
  padding: 0;
  position: absolute;
  right: -50%;
  top: 30px;
  width: 274px;
  z-index: 10;

  p {
    padding: 14px 20px;
    margin: 0;

    &:first-of-type {
      background-color: white;
      font-weight: bold;
    }

    &:last-of-type {
      background-color: #FBFBFD;
    }
  }

  @media(max-width: $tablet) {
    left: -243px;
    top: 34px;
  }

}
